<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h2>Your Pragmatic Cart</h2>
<ul>
<%# error message- undefined method line_items %>
  <% @cart.line_items.each do |item| %>
    <li><%= item.product.title %><%= item.quantity %> &times;</li>
  <% end %>
</ul>

